@import "src/styles.scss";

.modal-body {
  padding: 1.5rem;
  margin: 0;
  border-radius: 20px;
  color: map-get($custom-colors, "dark-default");
  background: map-get($custom-colors, "background");

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
  }
}

.warn {
  border-color: map-get($custom-colors, "error");
}

.err-msg {
  color: map-get($custom-colors, "error");
  font-size: 0.8rem;
  margin-top: 5px;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
