@import "src/styles.scss";

.main-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: max-content minmax(0, 1fr);
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.logo-container {
  width: 250px;

  .logo {
    width: 100%;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: end;
  margin-bottom: -10px;
  padding: 0 10px;

  .room-title {
    font-weight: bold;
    font-size: 1.5rem;
    align-self: center;
  }

}

.groups-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  overflow-y: scroll;

  //hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;

  border-radius: 20px;
  background: map-get($custom-colors, "container-light");
}

.add-container {
  height: 50px;
  width: 100%;
  border-radius: 20px;
  background: map-get($custom-colors, "dark-default");
  align-self: center;

  color: map-get($custom-colors, "container-light");
  display: inline-grid;
  align-items: center;
  justify-items: center;

  cursor: pointer;

  &:hover {
    background: map-get($custom-colors, "container-light");
    color: map-get($custom-colors, "dark-default");
    border: 3px solid map-get($custom-colors, "dark-default");
  }
}
