<div class="main-container">
  <div class="logo-container">
    <img src="assets/ESPanel_Logo.png" alt="logo" class="logo">
  </div>

  <div class="header-container">
    <div class="room-title">
      {{ this.room.title }}
    </div>
    <div class="button-container">
      <button class="icon-button">
        <div class="material-symbols-sharp">sensors</div>
      </button>
      <button class="icon-button" (click)="this.openRoomSettings()">
        <div class="material-symbols-sharp">settings</div>
      </button>
    </div>
  </div>

  <app-sidebar (roomChanged)="roomChanged($event)"/>

  <div class="groups-container">
    <app-group *ngFor="let i of this.groups"></app-group>
  </div>
</div>
