<div class="main-container">
  <div class="header-container">
    <div class="title">
      <div>
        Rooms
      </div>
      <button class="add-button" (click)="openCreateRoomModal()">
        <div class="material-symbols-outlined">add</div>
      </button>
    </div>
    <div class="line"></div>
  </div>

  <div class="rooms-container">
    <button *ngFor="let i of this.rooms" class="room-button"
            (click)="changeRoom(i)">
      <div class="room-name">
        {{ i.title }}
      </div>
    </button>
  </div>

</div>
