<div class="main-container">
  <div class="header-container">
    <div class="title">
      <div>
        Rooms
      </div>
      <button class="add-button" (click)="openCreateRoomModal()">
        <div class="material-symbols-outlined">add</div>
      </button>
    </div>
    <div class="line"></div>
  </div>

  <div class="rooms-container">
    <button *ngFor="let i of ['Living Room', 'Office', 'Kitchen',
    1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2]" class="room-button">
      <div class="room-name">
        {{ i }}
      </div>
    </button>
  </div>

</div>
