@import "src/styles.scss";

.main-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 40px;
  border-radius: 20px;
  background: map-get($custom-colors, "container-light");
  overflow-y: hidden;
}

.header-container {
  display: flex;
  flex-direction: column;
  margin-top: -20px;

  .title {
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    .add-button {
      display: inline-flex;
      border: none;
      outline: none;
      background: none;
      border-radius: .5rem;
      color: map-get($custom-colors, "dark-default");
      height: 2rem;
      width: 2rem;
      align-self: center;
      align-items: center;
      justify-content: space-around;

      &:hover {
        background: map-get($custom-colors, "container-dark");
      }

      &:focus {
        background: map-get($custom-colors, "container-dark");
      }

      &:active {
        background: map-get($custom-colors, "container-dark");
      }
    }
  }

  .line {
    width: 100%;
    border: 1px solid map-get($custom-colors, "dark-default");
  }
}

.rooms-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  //hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;

  font-weight: bold;
}

.room-button {
  border: none;
  outline: none;
  background: none;
  text-align: left;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: map-get($custom-colors, "dark-default");

  &:hover {
    background: map-get($custom-colors, "container-dark");
  }

  &:focus {
    background: map-get($custom-colors, "container-dark");
  }

  &:active {
    background: map-get($custom-colors, "container-dark");
  }
}
