@import "src/styles.scss";

.sidebar{
  min-width: 200px;
  width: 15vw;
  height: calc(100vh - 40px);
  margin: 20px;
}

.logo-container{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 96px;
  margin-bottom: 20px;
}

.content-container {
  height: calc(100vh - 96px - 60px);
  border-radius: 20px;
  background: map-get($custom-colors, "container-light");
}

@media screen and (max-width: 1650px) {
  .logo-container{
    height: 64px;
  }
  .content-container {
    height: calc(100vh - 64px - 60px);
  }
}
