@import "src/styles.scss";

.button-group {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {
    display:flex;
    flex-direction: row;
    gap: 5px;
  }
}

.desc {
  margin-left: 0.25rem;
  font-size: 0.8rem;
  color: map-get($custom-colors, "dark-default");
}
