@import "src/styles.scss";

.container {
  width: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: map-get($custom-colors, "container-dark");
}

.heading {
  font-weight: bold;
  font-size: 1.5rem;
}
