<div class="main-container">
  <div class="header-container">
    <div class="name">
      Name
    </div>
    <div class="button-group">
      <button class="icon-button-module">
        <div class="material-symbols-outlined">settings</div>
      </button>
    </div>
  </div>
  <div class="content-container">
    <app-radial-slider [minValue]="0"
                       [maxValue]="255"
                       *ngFor="let i of ['R', 'G', 'B']"
                       [knobTitle]="i"
    ></app-radial-slider>
  </div>
</div>
