<div class="main-container">
  <div class="header-container">
    <div class="name">
      Name
    </div>
    <div class="button-group">
      <button class="icon-button-module">
        <div class="material-symbols-outlined">settings</div>
      </button>
    </div>
  </div>
  <div *ngIf="type === ModuleType.rgb" class="container">
    <app-radial-slider [minValue]="0"
                       [maxValue]="255"
                       *ngFor="let i of ['R', 'G', 'B']"
                       [knobTitle]="i"
    ></app-radial-slider>
  </div>
  <div *ngIf="type === ModuleType.dimmer" class="container switch-container">
    <app-radial-slider [minValue]="0"
                       [maxValue]="255"
                       [knobTitle]="'Dimmer'"
    ></app-radial-slider>
  </div>
  <div *ngIf="type === ModuleType.switch" class="container switch-container">
    <app-switch *ngFor="let i of ['', '', '']" [title]="i"></app-switch>
  </div>
</div>
