<div class="main-container">
  <div class="header">
    <div class="right">
      <div class="title">
        {{ this.group.title }}
      </div>
      <div class="switch">
        <app-switch [checked]="this.group.state" (valueChanged)="changeState($event)"></app-switch>
      </div>
    </div>
    <div>
      <div class="status">
        <div class="material-symbols-sharp">circle</div>
      </div>
    </div>
  </div>
  <div class="modules-container">
    <div *ngFor="let m of this.modules" >
      <app-module *ngIf="isRgbModule(m)" [module]="m" [type]="ModuleType.rgb" [ipAdress]="group.ip_address"
      ></app-module>
      <app-module *ngIf="!isRgbModule(m)" [module]="m" [type]="ModuleType.dimmer" [ipAdress]="group.ip_address"
      ></app-module>
    </div>

    <div class="add-container" (click)="openCreateModuleModal()">
      <div class="material-symbols-outlined">
        add
      </div>
    </div>
  </div>
</div>
