<div class="main-container">
  <div class="header">
    <div class="right">
      <div class="title">
        Title
      </div>
      <div class="switch">
        <app-switch></app-switch>
      </div>
    </div>
    <div>
      <button class="icon-button">
        <div class="material-symbols-sharp">settings</div>
      </button>
    </div>
  </div>
  <div class="modules-container">
    <app-module [type]="ModuleType.rgb"
    ></app-module>
    <app-module [type]="ModuleType.dimmer"
    ></app-module>
    <app-module [type]="ModuleType.switch"
    ></app-module>

    <div class="add-container" (click)="temp($event)">
      <div class="material-symbols-outlined">
        add
      </div>
    </div>
  </div>
</div>
