<div class="modal-body">
  <div class="left">
    <div class="title">Settings</div>
    <div class="clickable">
      Room
    </div>
    <div class="clickable" (click)="showGroups = !showGroups; loadGroups();">
      Groups
    </div>
    <div *ngIf="showGroups">
      <div class="clickable foldout"
           *ngFor="let g of this.groups"
      >
        - {{g.title}}
      </div>
    </div>
    </div>
  <div class="right">
    <app-room-settings [room]="this.updatedRoom"
                       (updatedRoom)="updateRoom($event)"
                       (dismissReason)="this.activeModal.dismiss($event)"
    ></app-room-settings>
  </div>
</div>
